body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h1{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size: 4rem;
}
p{
    font-size: 2rem;
}
.container_section{
    
    /* border:1px solid black ; */
    margin: 50px;
    margin-top: 80px ;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center; */
    
}
img{
    max-width: 100%;
}
.button{
    border-radius: 20px;
    background-color:#FF6D5B;
    color: white;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:20px;
    text-decoration: none;
}
.button:hover{
    box-shadow: 0 0 10px #FF6D5B;
    /* color: #dbaba4; */
    
}
@media screen and (min-width:580px) {
    .container_section{
        
    min-width: 100vh;
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
    }   
    .img_content{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end:3;
    }
    img{
        position: sticky;
        top: 20px;
    }
}
@media screen and (min-width:720px) {
    .container_section{
        min-width: 100vh;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(6 , 1fr);
    }   
    .img_content{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end:3;
    }
    .text_content{
        padding-left: 30px;
        padding-right: 30px;
        grid-column-start: 4;
        grid-column-end: 7;
    }
    footer{
        grid-column-start: 4;
        grid-column-end: 7;

    }
}